/* React H5 Audio Player özelleştirmeleri */
.player-override.rhap_container {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.player-override .rhap_main-controls-button,
.player-override .rhap_volume-button,
.player-override .rhap_volume-bar-area {
  color: #9ca3af !important;
}

.player-override .rhap_main-controls-button:hover,
.player-override .rhap_volume-button:hover {
  color: #ffffff !important;
}

.player-override .rhap_progress-filled,
.player-override .rhap_progress-indicator {
  background-color: #6366F1 !important;
}

.player-override .rhap_progress-bar,
.player-override .rhap_volume-bar {
  background-color: #374151 !important;
}

.player-override .rhap_time {
  color: #9ca3af !important;
}

.player-override .rhap_volume-indicator {
  background: #6366F1 !important;
}
